/* Start of Styles for Map  */
#mapDemo {
			padding-left: 75%;
			width: 500px;
}

 /* #map {  */
        /* height: 400px;  */
         /* width: 25%;  */
        /* }  */

 /* End of styles for map  */

#shortInfo {
	padding-left: 15%;
	padding-bottom: 50px;
}	

body {
	background-color: grey;
	color: white;
}

#upvote {
	background-color: green;
	color: white;
}

h1 {
	color: gold;
	font-family: Calligraffitti;
	text-align: center;
	border-radius: 5px;
	border: 1px solid silver;
}	

img {
	max-width: 20%;
}

a {
	font-family: Shadows Into Light;
	color: yellow;
}


