/* Start of Styles for Map  */

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

 /* End of styles for map  */

#shortInfo {
	padding-left: 25%;
	padding-bottom: 50px;
}	

body {
	background-color: black;
	color: white;
}

#upvote {
	background-color: green;
}

h1 {
	color: gold;
	font-family: Calligraffitti;
	text-align: center;
}	

img {
	max-width: 20%;
}

a {
	font-family: Shadows Into Light;
	color: yellow;
}


