<!--
entire list view
-->
<h1>Outdoor Art In Detroit</h1>
<div id="shortInfo" ng-repeat="item in items">
<!-- above line, when active, makes text below disappear -->
	<p id="image">
	<img src="{{item.imgpath}}"/>
	</p>
	
	<p>
	Title: {{item.title}}
	</p>
	<p>
	Artist: {{item.artist}}
	</p>
	<p>
	Location: {{item.streetaddress}} 
	</p>
	<p>
	Description: {{item.shortdescription}}
	</p>
	<p>
	Rating: {{item.votes}}
	</p>
	<button type="submit" id="upvote" ng-click="upVote()">Click to upvote!</button>
	<p>
	<a href="#!/oneItem/{{item.artid}}">Click me for more info!<a>
	</p>
	
	
	
 </div> 

