<!--
entire list view
-->
<!-- <div id="map"></div>  -->
<p id="mapDemo">
<img src="images/mapDemo.jpg">
</p>
<div id="allItems">
<h1>Outdoor Art In Detroit</h1>
<div id="shortInfo" ng-repeat="item in items">
<!-- above line, when active, makes text below disappear -->
	<p id="image">
	<img src="{{item.imgpath}}"/>
	</p>
	
  <div short-desc></div> <!-- this is replacing what has been commented out below -->

  
	<!-- <p>  -->
	<!-- Title: {{item.title}}  -->
	 <!-- </p>  -->
	 <!-- <p>  -->
	<!-- Artist: {{item.artist}}  -->
	<!-- </p>  -->
 <!-- <p>  -->
	<!-- Location: {{item.streetaddress}}   -->
	 <!-- </p>  -->
	 <!-- <p>  -->
	 <!-- Description: {{item.shortdescription}}  -->
	 <!-- </p> -->
	
	<p>
	Rating: {{item.votes}}
	</p>
	<button type="button" id="upvote" ng-click="upVote(item.artid)">Click to upvote!</button>
	<p>
	<a href="#!/oneItem/{{item.artid}}">Click me for more info!<a>
	</p>
	
	
	

 </div> <!-- closes id=shortInfo div -->
 </div> <!-- closes id=allItems div -->

